<%!
from formatters import formatTime, formatMins, formatHours
%>
<%inherit file="base.html" />
<%def name="title()">
${site_display_name} SAM Station monitoring
</%def>
<h1>${site_display_name} SAM station monitoring</h1>
<table>
<tr><th>Station</th><th>Projects</th><th>Last updated</th><th>Last activity</th></tr>
% for s in stations:
<%
  lastactivitytime, lastactivity = s.lastActivity()
%>
<tr><td><a href="${base_path}/${site}/stations/${s.name}/projects">${s.name}</a></td><td>${s.nrunningprojects}</td><td>${formatTime(s.updatetime)}</td>
<td>
% if lastactivitytime:
${lastactivity} at ${formatTime(lastactivitytime)} (${formatMins(s.updatetime - lastactivitytime)} ago)
% else:
No activity in last ${formatHours(s.updatetime - s.earliest_time)}
% endif
</td>
</tr>
% endfor
</table>
